@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}
html {
  background: center/cover no-repeat
    url('./img/wallpaperflare.com_wallpaper.jpg');
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 900px;
  padding: 20px;
  color: #fff;
}
.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
  justify-content: space-between;
  padding: 0 10px 15px 10px;
  border-bottom: 3px solid #fff;
}
.current-container {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  border: 5px solid transparent;
  border-radius: 5px;
  height: 100px;
  width: 380px;
  justify-content: space-between;
}
.location-container {
  text-align: right;
}
.climate-switch {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 5px 0;
}
.btn {
  user-select: none;
  cursor: pointer;
}
.btn:hover,
.icon:hover {
  transform: scale(1.1);
}
.btn:active,
.icon:active {
  transform: scale(1.5);
}
.hr {
  width: 2px;
  height: 1.2rem;
  background-color: #fff;
  margin: 0 10px;
}
.current-temp,
.current-info {
  height: 100%;
}
.current-temp {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.current-info h1 {
  font-size: 1rem;
}
i {
  font-style: normal;
}
.week-analytics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: inherit;
}
.box {
  height: 100px;
  width: 120px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.date {
  font-size: 1rem;
}
.temp {
  margin-top: 5px;
  font-size: 1.5rem;
  flex: 1;
}
form {
  height: 100%;
}

.search-div {
  position: relative;
  top: 0;
  width: 300px;
  height: 2.5rem;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.1rem;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
form {
  margin-bottom: 50px;
}
.search-div + p {
  margin: 15px 0;
  text-align: center;
}
.search-div + p {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  color: #fae592;
  opacity: 0;
  height: 0;
  margin-bottom: 1vh;
}
.search-div.invalid + p {
  opacity: 1;
  height: auto;
}
#search-btn {
  border-radius: 5px;
  color: #fff;
  border: 1px solid transparent;
  background-color: transparent;
  outline: none;
}
#submit {
  visibility: hidden;
}
::placeholder {
  color: #fff;
}
@media (max-width: 900px) {
  .main-container {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .location-container {
    margin: 20px 0;
  }
}
@media (max-width: 479px) {
  body {
    align-items: stretch;
    width: 470px;
  }
  html {
    background: none;
    background-color: #5dbdcd;
  }
}
