@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}
html {
  background: center/cover no-repeat
    url('./img/wallpaperflare.com_wallpaper.jpg');
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  width: 800px;
  padding: 20px;
  color: #fff;
}
.header-container {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-between;
  padding: 0 10px 15px 10px;
  border-bottom: 3px solid #fff;
}
.current-container {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  border: 5px solid transparent;
  border-radius: 5px;
  height: 100px;
  width: 380px;
  justify-content: space-between;
}
.location-container {
  text-align: right;
}
.climate-switch {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 5px 0;
  /* width: 65px; */
}
.hr {
  width: 2px;
  height: 1.2rem;
  background-color: #fff;
  margin: 0 5px;
}
.current-temp,
.current-info {
  height: 100%;
}
.current-temp {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#current-temp {
  /* font-size: 2.2rem; */
}
.current-info h1 {
  font-size: 1rem;
}
i {
  font-style: normal;
}
.week-analytics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: inherit;
}
.box {
  height: 100px;
  width: 120px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.date {
  font-size: 1rem;
}
.temp {
  margin-top: 5px;
  font-size: 2rem;
  flex: 1;
}
